
<style>
	.surface {
		background-image: url(@Model.ImageSource);
		background-size: @(Model.OutputWidth * FaceSize)px @(Model.OutputHeight * FaceSize)px;
	}
</style>

<div class="mesh" style="
	width: @(Model.Model.Width * FaceSize)px;
	height: @(Model.Model.Height * FaceSize)px;
	transform: rotateX(@(Rotation.Y)deg) rotateY(@(Rotation.X)deg) scale3d(@Scale, @Scale, @Scale)">

	@foreach (var sprite in Model.Sprites)
	{
		<div class="surface" style="
			background-position: -@(sprite.UVPosition.X * FaceSize)px -@(sprite.UVPosition.Y * FaceSize)px;
			width: @(sprite.RelativePosition.Width * FaceSize)px;
			height: @(sprite.RelativePosition.Height * FaceSize)px;
			transform: @ToTransform(Model.Model, sprite)" />
	}
</div>
