
<style>
	.surface {
		background-image: url(@Model.ImageSource);
	}
</style>

<div class="mesh" style="
	width: @(FaceSize * Model.Model.Width)px;
	height: @(FaceSize * Model.Model.Height)px;
	transform: rotateX(@(Rotation.Y)deg) rotateY(@(Rotation.X)deg)">

	<div class="element" style="transform: scale3d(@Scale, -@Scale, @Scale) translate3d(0, @(FaceSize * Model.Model.Height * -1.0f)px, @(FaceSize * Model.Model.Depth * -0.5f)px)">
		@foreach (var sprite in Model.Sprites)
		{
			<div class="surface" style="
				background-size: @(Model.OutputWidth)px @(Model.OutputHeight)px;
				background-position: -@(sprite.UVPosition.X)px -@(sprite.UVPosition.Y)px;
				width: @(sprite.RelativePosition.Width)px;
				height: @(sprite.RelativePosition.Height)px;
				transform: @ToTransform(sprite)" />
		}
	</div>
</div>
