
<style>
	.surface {
		background-image: url(@Model.SpriteAtlasImage);
		background-size: @(Model.LayeredModel.SpriteAtlasResolution.Width * FaceSize)px @(Model.LayeredModel.SpriteAtlasResolution.Height * FaceSize)px;
	}
</style>

<div class="mesh" style="
	width: @(Model.Model.Width * FaceSize)px;
	height: @(Model.Model.Height * FaceSize)px;
	transform: rotateX(@(Rotation.Y)deg) rotateY(@(Rotation.X)deg) scale3d(@Scale, @Scale, @Scale)">

	@foreach (var sprite in Model.LayeredModel.Sprites)
	{
		<div class="surface" style="
			background-position: -@(sprite.UV.X * FaceSize)px -@(sprite.UV.Y * FaceSize)px;
			width: @(sprite.Position.Width * FaceSize)px;
			height: @(sprite.Position.Height * FaceSize)px;
			transform: @sprite.ToTransform()" />
	}
</div>
